.footer-container {
	position: relative;
	height: 19.25rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: url(/assets/desktop/image-footer.jpg);
	background-size: cover;
	z-index: 1;
}

.footer-container::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $color-teal;
	opacity: 0.7;
	z-index: -1;
}

.footer-heading {
	width: 350px;
	color: $color-ultra-light-grey;
	font-size: 40px;
	font-weight: 900;
}

.footer p {
	width: 350px;
	color: $color-ultra-light-grey;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
}

.footer-button {
	padding: 16px 30px;
	border-radius: 1.8125rem;
	font-size: 16px;
	font-weight: 900;
	margin-left: -100px;
	background-color: $color-purple;

	span {
		color: hsl(268, 100%, 86%);
		margin-left: 4px;
	}

	&:hover {
		background-color: #b18bdd;
	}
}
