$color-navy: hsl(240, 17%, 24%);
$color-grey: hsl(240, 8%, 55%);
$color-white: hsl(0, 0%, 100%);
$color-teal: hsl(194, 39%, 45%);
$color-purple: hsl(259, 41%, 47%);
$color-light-blue: hsl(194, 88%, 72%);
$color-lavender: hsl(255, 70%, 84%);
$color-light-grey: hsl(0, 0%, 87%);
$color-ultra-light-grey: hsl(0, 0%, 98%);
